.registracija1{
    background-color: #333;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    width: 600px;
    position: relative;
    overflow: hidden;
}
.registracija1 form{
    margin-top: 80px;
    font-family: 'Cormorant Garamond', serif;
}
.registracija1 h1{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    margin-left: 10%;
    margin-top: 10px;
}
.registracija1 label{
    color: white;
    margin-left: 10%;
    margin-top: 10px;
}
.registracija1 input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: rgb(1, 150, 150);
    height: 30px;
    margin: 0 10%;
    width: 80%;
}
.registracija1 button{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    color: white;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3rem;
    position: absolute;
    right: 10%;
    bottom: 20px;
}
.registracijosDivas button:disabled{
   color: rgb(32, 32, 32);
   border-bottom: 1px solid rgb(32, 32, 32);
}