body{
    background-color: rgb(248, 192, 227);
    padding: 0 2%;
  }
  
  form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 2em auto;
    background-color: rgb(234, 247, 246);
    border-radius: 2%;
  }
  
  .SkillCardTab{
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    text-align: center;
    color: rgba(121, 100, 100, 0.5);
  }
  
  input, label, textarea{
    margin: 0 1em;
    margin-bottom: 1em;
  }
  
  form h1 {
    text-align: center;
  }