body{
  background-color: rgb(216, 241, 156);
}

form{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1em auto;
  background-color: rgb(173, 169, 169);
  border-radius: 1%;
}

.SkillCardTab{
  margin: 1em 0;
  text-align: center;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
  color: rgba(63, 62, 62, 0.5);
}

form h1 {
  text-align: center;
}